* {
	background-color: #825faf;
	margin: 0px;
	padding: 0px;
}

html,
body {
	height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	color: #ffd166;
	margin: 1vh;
	text-align: center;
	font-size: 5rem;
	font-family: "Comic-Sans", serif;
}



.cell {
	background-color: white;
	border: 0.01vh solid #5b426b;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#boardArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#board {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr);
	border: 1vh solid #e56399;
	height: 50vmin;
	width: 50vmin;
	border-radius: 1vh;
}

#range-slider {
	margin-top: 10vh;
	background-color: #e9f1f7;
	width: 30vw;
	accent-color: #5b426b;
}

#range-text {
	text-align: center;
	color: #e9f1f7;
	font-weight: bold;
	font-size: 2rem;
	width: 50vw;
}

#fill-color {
    background-color: #825faf;
    border: none;
    margin-right: 5vw;
    width: 10vmin;
    height: 50vmin;
}

#eraser {
    background-color: #e56399;
    border-color: #e56399;
    border-radius: 10px;
    margin-left: 5vw;
    width: 10vmin;
    height: 50vmin;
}