* {
    background-color: black;
}

html, body {
    height: 100vh;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

div.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64vh;
    height: 4vh;
}

div.cell {
    background-color: white;
    width: 4vh;
    height: 4vh;
    border: 0.01vh solid black;
}