* {
    background-color: #54426B;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: #FFD166;
    margin: 1vh;
    text-align: center;
    font-size: 5rem;
    font-family: 'Garamond', 'Helvetica Neue', Helvetica, Arial, serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#board {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 1vh solid #E56399;
    height: 50vh;
    width: 50vh;
}

.cell {
    background-color: white;
    border: 0.01vh solid #54426B;
}
